@page
@model PrinterShop.Pages.ProductPages.AccessoriesModel
@{
}


    <div class="container">
        <!-- Corrected row and gutter spacing -->
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        @foreach (var accessories in Model.Accessories)
            {
            string ImagepathAccessories = "/Images/Accessories/" + accessories.ProductId.ToLower() + ".png";


                <div class="col">
                    <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="@ImagepathAccessories" alt="Card image cap">
                        <div class="card-body">
                        <h5 class="card-title">@accessories.Name</h5>
                        <p class="card-text">@accessories.Description</p>
                        </div>
                        <ul class="list-group list-group-flush">
                        <li class="list-group-item">Price @accessories.Price</li>
                            <li class="list-group-item">Dapibus ac facilisis in</li>
                            <li class="list-group-item">Vestibulum at eros</li>
                        </ul>
                        <div class="card-body">
                            <a href="#" class="card-link">Card link</a>
                            <a href="#" class="card-link">Another link</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
