@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    @foreach(var priner in Model.ourPrinters.Values)
    {

        <div class="card-body">
            <h2>Name: @priner.Name</h2>
            <p>Description: @priner.Description</p>
            <p>Price: @priner.Price</p>
        </div>
    }
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
