@page
@model PrinterShop.Pages.LoginSiteModel
@{
}

<div class="row justify-content-center">

    <div class="col-lg-4 col-md-5 col-sm-6 mx-3 my-3 p-4 border rounded shadow">
        <h2>Opret Bruger</h2>

        <form method="post" asp-page-handler="CreateUser">
            <div class="form-group">
                <label>Brugernavn</label>
                <input type="text" name="name" class="form-control" required />
            </div>
            <div class="form-group">
                <label>Email</label>
                <input type="email" name="email" class="form-control" required />
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" name="password" class="form-control" required />
            </div>
            <button type="submit" class="btn btn-secondary w-100">Opret</button>
        </form>
    </div>


    <div class="col-lg-4 col-md-5 col-sm-6 mx-3 my-3 p-4 border rounded shadow">
        <h2>Login</h2>

        @if (!string.IsNullOrEmpty(Model.ErrorMessage))
        {
            <div class="alert alert-danger">@Model.ErrorMessage</div>
        }

        <form method="post" asp-page-handler="Login">
            <div class="form-group">
                <label>Email</label>
                <input type="email" name="email" class="form-control" required />
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" name="password" class="form-control" required />
            </div>
            <button type="submit" class="btn btn-primary w-100">Login</button>
        </form>
    </div>


</div>
