@page
@model PrinterShop.Pages.LoginSiteModel
@{
}
<div class="text-center">
    <h1 class="display-4">Login</h1>
</div>
<div class="text-center">
    <form>
        <div class="form-group">
            <label class="text-center" for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" style="width: 75%; margin: auto;" placeholder="Enter email">
        </div>

        <div class="form-group">
            <label class="text-center" for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" style="width: 75%; margin: auto;" placeholder="Password">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
